<?xml version="1.0"?>
<launch> 
  
  <node name="joint_trajectory_demux" pkg="joint_trajectory_demux" type="joint_trajectory_demux_node.py" output="screen">
    <rosparam file="$(find argo_tracker_robot_moveit_config)/config/controllers.yaml" command="load" />
  </node>
  
  <node pkg="moveit_joystick_control" type="joystick_control_node" name="manipulator_arm_joystick_control" output="screen" respawn="true">
    <param name="enable" value="true"/>
    <param name="control_rate" value="25"/>
    <param name="max_speed_linear" value="0.1"/>
    <param name="max_speed_angular" value="0.4"/>
    <param name="max_speed_gripper" value="1"/> 
<!--     <param name="free_angle" value="Y"/> -->
    <param name="group_name" value="arm_with_gripper_group_ceres"/>
    <param name="gripper_joint_name" value="gripper_servo_joint"/>
    <rosparam file="$(find moveit_joystick_control)/config/logitech_f310.yaml" command="load" />
   
    <remap from="/command" to="/joint_trajectory_demux/command"/>
    <remap from="/gripper_command" to="/gripper_control/gripper_traj_controller/command"/>
  </node>   
  
<!--   <node pkg="joy" type="joy_node" name="joy" output="screen"/> -->

</launch>
